@import "./base/reset.css";
@import "./components/font-awesome.min.css";
@import "./components/button.css";

:root {
  --primary-color: #ff5e61;
  --secondary-color: #fcc7d6;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  gap: 30px;
  justify-content: flex-start;
  align-items: center;
  padding: 72px 0 30px 0;
}

.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 50px;
  width: 100%;
  padding: 20px;
  position: relative;
}

header.container {
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #fff;
}

main.container {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: calc(100% - 120px);
}

.logo {
  height: 35px;
  margin-right: auto;
}

.main-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    position: absolute;
    padding: 20px;
    bottom: 0;
    right: 0;
    z-index: 1;
    transform: translateY(95%);
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 4px -6px #0003;
    left: 0;
}

.menu-visible .main-menu {
    display: flex;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu > a {
  color: #000;
  text-decoration: none;
}

.menu > a:hover {
  color: var(--primary-color);
  text-decoration: none;
}

.hamburger {
  font-size: 2em;
}

.gallery {
  padding: 0 0.7em;
  font-size: 32px;
  position: relative;
}

.gallery > picture {
  width: 100%;
}

.gallery > picture > img {
  width: 100%;
}

.gallery > .fa {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1.4em;
  height: 1.4em;
  line-height: 1.4em;
  text-align: center;
  background-color: var(--primary-color);
  border-radius: 50%;
  color: #fff;
}

.gallery > .fa.fa-angle-left {
  left: 0;
  padding-right: 0.17em;
  /* transform: translateX(100%); */
}

.gallery > .fa.fa-angle-right {
  right: 0;
  padding-left: 0.17em;
  /* transform: translateX(-50%); */
}

.text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.text > .category {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 17px;
}

.text > .title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 40px;
  letter-spacing: -1.5px;
}

.text > .description {
}

.text > .contains {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px 50px;
}

.text > .contains > .list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text .list > .list-title {
  font-size: 16px;
}

.text .list > .list-plus {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
}

.text .list-plus > li {
  line-height: 20px;
}

.text .list-plus > li::before {
  content: "+";
  margin-right: 10px;
  color: var(--primary-color);
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  vertical-align: bottom;
}

.text .list > .list-image {
  display: flex;
  gap: 15px;
  list-style-type: none;
}

.text .list-image > li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background-color: var(--secondary-color);
  border-radius: 50%;
}

.text .list-image img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    object-position: center;
}

.text > form {

}

.text > form > button {
    background-color: var(--primary-color);
    color: #fff;
    line-height: 1em;
    padding: 1em 3em;
    border: none;
    border-radius: 1.5em;
    font-weight: bold;
    font-size: 15px;
}

.text > form > button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 1em;
    cursor: pointer;
}

@media (min-width: 480px) {
  .container {
    width: 440px;
  }
}

@media (min-width: 780px) {
  .container {
    width: 660px;
  }
  .main-menu {
    display: flex;
    flex-direction: row;
    position: static;
    transform: translateY(0);
    box-shadow: none;
  }
    .main-menu > .menu {
    flex-direction: row;
  }
  .hamburger {
    display: none;
  }
  main.container {
    flex-direction: row;
  }
  .gallery {
    width: 55%;
  }
  .text {
    width: 45%;
  }
}

@media (min-width: 1000px) {
  .container {
    width: 900px;
  }
  .text > .contains {
      flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1100px;
  }
}
